


nav {


    background-color: #333;

    margin-bottom: 5px;

}

nav ul {
        
       
    list-style: none;
      
      
     
    display: flex;
      
     
    justify-content: center;
}
    
    
nav ul li {

    margin-right: 17px;
}
    
nav ul li a {
      
    color: #fff;
      
     
    text-decoration: none;
      
     
    padding: 10px;
      
    
     
}

li {
    
    border-radius: 8px;
    border-style: solid;
}
    
li:hover {

    background-color: #555;
}

ul {
    margin-bottom: 7px;
}
