

   
nav {


    background-color: #333;
    
    margin-bottom: 4px;

}

nav ul {
        
       
    list-style: none;
      
     
      
     
    padding: 0;
      
     
    display: inline;
      
     
    justify-content: center;
    }
    
    nav ul li {
      
     
    margin-right: 17px;
    }
    
    nav ul li a {
      
     
    color: #fff;
      
     
    text-decoration: none;
      
     
    padding: 10px;
      
     
    /*
    transition: all 0.3s ease;
    */
}
    
li:hover {

    background-color: #555;
}

ul {
    margin-bottom: 20px;
}
